<section ng-init="tab=1">
    <ul class="nav nav-pills">
        <li ng-class="{active: panel.isSelected(1) }">
            <a ng-click="panel.selectTab(1)">Description</a></li>
        <li ng-class="{active: panel.isSelected(2) }">
            <a ng-click="panel.selectTab(2)">Specifications</a></li>
        <li ng-class="{active: panel.isSelected(3) }">
            <a ng-click="panel.selectTab(3)">Reviews</a></li>
    </ul>
    <div class="panel appear-animation" ng-show="panel.isSelected(1)">
        <h4>Description</h4>
        <p>{{product.description}}</p>
    </div>
    <div class="panel appear-animation" ng-show="panel.isSelected(2)">
        <h4>Specifications</h4>
        <blockquote>not yet</blockquote>
    </div>
    <div class="panel appear-animation" ng-show="panel.isSelected(3)">
        <h4>Reviews</h4>
        <blockquote ng-repeat="review in product.reviews">
            <b>{{stars}}</b>
            <p>{{review.body}}</p>
            <cite>{{review.author}}</cite>
        </blockquote>
        <form name="reviewForm"
              ng-controller="ReviewController as reviewCtrl"
              ng-submit="reviewCtrl.addReview(product)" novalidate>
            <blockquote>
                <b>{{reviewCtrl.review.stars}}</b>
                <p>{{reviewCtrl.review.body}}</p>
                <cite>{{reviewCtrl.review.author}}</cite>
            </blockquote>
            <select ng-model="reviewCtrl.review.stars" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <textarea ng-model="reviewCtrl.review.body" required></textarea>
            <label >by:</label>
            {{reviewForm.$valid}}
            <input type="email" ng-model="reviewCtrl.review.author" required/>

            <input type="submit"  />
        </form>
    </div>
</section>